@page
<!DOCTYPE html>
<html>

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about building Web apps with ASP.NET Core</a>.</p>
  

<head>
<style>
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
</head>
<body>


<button>Waqas Az-400</button>
<a href="#" class="button">WEBAPP</a>
<button class="button">WorkFLow</button>
<input type="button" class="button" value="Input Button">

</body>
</html>

</div>
